@import 'variables';

// ========================================= Generic Classes ================================= //

//Colors
.blue {
  color: $blue !important;
}

//Pull
.right {
  margin-left: auto;
}

.left {
  margin-right: auto;
}

//no gutter
.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

//Fonts
.cursive {
  font-family: $secondary-font;
}

.semi-bold {
  font-weight: 500;
}
