// ========================================= Misc ================================= //

//Transition
$default-transition: .25s;

//Standard Box Shadow
$box-shadow:0px 0px 6px 3px rgba(0, 0, 0, 0.14);

//Gutter
$gutter:15px;

//Transition
$transition: .35s;

// ========================================= Colors =============================== //

//Standard Font Color
$black: #222222;

//Green
$green: #00C853;

//Red
$red:#F44336;

//Blue
$blue:#109F9A;

//Light Grey
$light-grey:#F2F2F4;


// ========================================= Fonts ================================ //

$primary-font: Dosis;
$secondary-font: Lobster;
$font-light: 200;
$font-normal:300;
$font-bold: 700;

// ========================================= Breakpoints ========================== //
$xxs: 450px;
$xs: 767px;
$sm: 991px;
$md: 1200px;
$lg: $md + 1;


// ========================================= Buttons ================================= //

// ========================================= Inputs ================================== //
