@import '../globals/variables';

// ========================================= Contact Form ================================= //

.form-wrapper {
  .contact-form {
    width: 700px;
    box-shadow: $box-shadow;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 35px;
    .input {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.14);
      background: none;
      width: 100%;
      resize: none;
      font-size: 1.2em;
      font-weight: 500;
      margin-bottom: 30px;
      height: 40px;
      padding-bottom: 10px;
      &.error, &.email-error {
        border-bottom: 2px solid $red;
        color: $red;
        font-weight: 700;
        height: 40px !important;
        text-transform: capitalize;
      }
    }
    textarea {
      transition: .25s;
      &.grow {
        height: 400px !important;
      }
    }
    button {
      background: white;
      border: 2px solid $blue;
      color: $blue;
      font-weight: 500;
      padding: 10px 50px;
      transition: .25s;
      &:hover {
        background: $blue;
        color:white;
      }
    }
  }
}

//Placeholder Text Color
::-webkit-input-placeholder {
   color: $black !important;
}

:-moz-placeholder {
   color: $black !important;
   opacity: 1;
}

::-moz-placeholder {
   color: $black !important;
   opacity: 1;
}

:-ms-input-placeholder {
   color: $black !important;
}

.error-message {
  border-bottom: 2px solid $red;
  color: $red;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  p {
    font-size: 1.15em;
    font-weight: $font-bold;
    margin-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
}

.message-sent {
  background: $blue;
  color: white;
  margin-top: 35px;
  padding: 50px;
  text-align: center;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  display: none;

  i {
    border: 2px solid white;
    border-radius: 40px;
    font-size: 22px;
    height: 40px;
    padding-top: 7px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    cursor: pointer;
  }

  .cursive {
    font-family: $secondary-font;
    font-size: 3em;
    margin-bottom: 15px;
  }

  .note {
    font-size: 1.25em;
    font-weight: 400;
  }
}
