@import '../globals/variables';

// ========================================= Header ================================= //

header {
  background-attachment: fixed;
  background-image: url('../../../assets/images/scrollable-bg.jpg');
  background-position: center center;
  background-size: cover;
  height: 672px;
  padding-top: 76px;

  p {
    color: white;
  }

  .cursive {
    font-size: 5em;
    text-align: center;
  }

  .left {
    margin-left: 170px;
  }

  .intro-text {
    font-size: 2.5em;
    font-weight: $font-light;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    span {
      font-size: 1em;
    }
  }
}

@media (max-width: $sm) {
  header {
    height: auto;
    background-image: url('../../../assets/images/header-background-mobile.jpg');
    background-attachment: scroll;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 75px;
    .mobile-image {
      background: #f2f2f4 none repeat scroll 0 0;
      border-radius: 300px;
      display: block;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      width: 320px;
    }
    .right {
      img {
        display: none;
      }
    }
    .left {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 0px;
    }
    .intro-text {
      font-size: 2.25em;
    }
  }
}

@media (max-width: 525px) {
  header {
    margin-top: 62px;
  }
}
