@import '../globals/variables';

// ========================================= Section ================================= //

section {
    float: left;
    min-height: 250px;
    padding-top: 77px;
    width: 100%;
}

.section-title {
    background-attachment: fixed;
    background-image: url("../../../assets/images/scrollable-bg.jpg");
    background-position: center center;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;

    h2 {
      color: #f2f2f4;
      font-size: 5em;
      margin: 0;
      text-align: center;
      width: 100%;
    }
}

@media (max-width: $sm) {
  .section-title {
    background-attachment: scroll;
    background-image: url("../../../assets/images/titles-background-mobile.jpg");
  }
}

@media (max-width: $xs) {
  .section-title {
    h2 {
      font-size: 3em;
    }
  }
}
